@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
    /* background-image: url(../attachments/images/bg-green-white.jpg); */
    min-height: 100vh;
    background-color:azure !important;
    background-image: url(../attachments/images/conditions.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
}


/* navbar */

nav {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.navbar-nav .nav-link {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.3s ease-in-out;
    transition-delay: 0.5s;
}

.navbar-nav .nav-link:hover {
    color: black;
    border-bottom-color: black;
    transition: 0.5s all;
}

/* main-menu */

.acc {
    margin-top: auto;
    font-family: 'Nunito', sans-serif;
}